{% extends "base.html" %}

{% block title %}Painting Tool - Home{% endblock %}

{% block main%}

<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

        <div class="d-flex justify-content-center py-4">
          <a href="index.html" class="logo d-flex align-items-center w-auto">
            <img src="{{url_for('static', filename='img/logo.png')}}" alt="">
            <span class="d-none d-lg-block">Painting Tool</span>
          </a>
        </div><!-- End Logo -->

        <div class="card mb-3">

          <div class="card-body">

            <div class="pt-4 pb-2">
              <h5 class="card-title text-center pb-0 fs-4">Kindly Select your Language</h5>
            </div>

            <form class="row g-3" action="{{ url_for('lang_selection') }}" method="POST">

                <label for="yourUsername" class="form-label">Select your Language</label>
              <div class="col-sm-10">
                <select class="form-select" name="comp_select" aria-label="Default select example">
                  <option value="en-IN">English</option>
                  <option value="de">German</option>
                  <option value="fr">French</option>
                </select>
              </div>

              <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Submit</button>
              </div>
            </form>

          </div>
        </div>

        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
          A project demo for <a href="https://www.coventry.ac.uk/">Coventry University</a>
        </div>

      </div>
    </div>
  </div>

</section>


  {% endblock %}